---
# DNS and DHCP Configuration Tasks
# Configures standalone dnsmasq service for internal network

- name: "Install dnsmasq"
  ansible.builtin.dnf:
    name: 
      - dnsmasq
      - dnsmasq-utils
    state: present
  tags: [dnsmasq, packages]

- name: "Stop dnsmasq for configuration"
  ansible.builtin.systemd:
    name: dnsmasq
    state: stopped
  tags: [dnsmasq]

- name: "Backup original dnsmasq configuration"
  ansible.builtin.copy:
    src: /etc/dnsmasq.conf
    dest: "/etc/dnsmasq.conf.backup.{{ ansible_date_time.epoch }}"
    remote_src: yes
  tags: [dnsmasq, backup]

- name: "Configure main dnsmasq settings"
  ansible.builtin.template:
    src: dnsmasq.conf.j2
    dest: /etc/dnsmasq.conf
    mode: '0644'
    backup: yes
  notify: restart dnsmasq
  tags: [dnsmasq]

- name: "Create dnsmasq.d directory"
  ansible.builtin.file:
    path: /etc/dnsmasq.d
    state: directory
    mode: '0755'
  tags: [dnsmasq]

- name: "Configure SentinelCam DNS entries"
  ansible.builtin.template:
    src: sentinelcam.conf.j2
    dest: /etc/dnsmasq.d/sentinelcam.conf
    mode: '0644'
    backup: yes
  notify: restart dnsmasq
  tags: [dnsmasq, dns]

- name: "Check if resolv.conf is immutable"
  ansible.builtin.command: lsattr /etc/resolv.conf
  register: resolv_attrs
  changed_when: false
  failed_when: false
  tags: [dnsmasq, dns]

- name: "Remove immutable flag from resolv.conf if set"
  ansible.builtin.command: chattr -i /etc/resolv.conf
  when: resolv_attrs.stdout is defined and 'i' in resolv_attrs.stdout
  tags: [dnsmasq, dns]

- name: "Create custom resolv.conf for dnsmasq"
  ansible.builtin.copy:
    content: |
      # Generated by Ansible - SentinelCam Bastion DNS Configuration
      nameserver 127.0.0.1
      {% for dns_server in bastion_dnsmasq.upstream_dns %}
      nameserver {{ dns_server }}
      {% endfor %}
      options timeout:2 attempts:3
    dest: /etc/resolv.conf
    mode: '0644'
  tags: [dnsmasq, dns]

- name: "Make resolv.conf immutable to prevent NetworkManager changes"
  ansible.builtin.command: chattr +i /etc/resolv.conf
  tags: [dnsmasq, dns]

- name: "Start and enable dnsmasq service"
  ansible.builtin.systemd:
    name: dnsmasq
    state: started
    enabled: yes
  tags: [dnsmasq]

- name: "Wait for dnsmasq to start"
  ansible.builtin.wait_for:
    port: 53
    host: 127.0.0.1
    timeout: 30
  tags: [dnsmasq]

- name: "Test DNS resolution"
  ansible.builtin.shell: |
    nslookup google.com 127.0.0.1
    nslookup data1 127.0.0.1
  register: dns_test_result
  failed_when: false
  changed_when: false
  tags: [dnsmasq, test]

- name: "Display DNS test results"
  ansible.builtin.debug:
    var: dns_test_result.stdout_lines
  when: dns_test_result is defined
  tags: [dnsmasq, test]
