# camwatcher service unit file
# Mark K. Shumway, mark.shumway@swanriver.dev
# Defines camwatcher.py as a systemd service
# This file should be copied to /etc/systemd/system as root
#   e.g. sudo cp camwatcher.service /etc/systemd/system
# Use usual systemctl start, stop, status, restart, enable commands
#   e.g. sudo systemctl restart camwatcher

[Unit]
Description=CamWatcher Service
After=multi-user.target

[Service]
Type=idle
WorkingDirectory=/home/ops/camwatcher/camwatcher
User=ops
Restart=always
RestartSec=5
ExecStart=/home/ops/.opencv/bin/python -u /home/ops/camwatcher/camwatcher/camwatcher.py

[Install]
WantedBy=multi-user.target
