# camwatcher service unit file
# Mark K Shumway, mark.shumway@swanriver,dev
# Defines imagehub.py as a systemd service
# This file should be copied to /etc/systemd/system as root
#   e.g. sudo cp camwatcher.service /etc/systemd/system
# Use usual systemctl start, stop, status restart, enable commands
#   e.g. sudo systemctl start camwatcher.service

[Unit]
Description=CamWatcher Service
After=multi-user.target

[Service]
Type=idle
WorkingDirectory=/home/pi/camwatcher/camwatcher
User=pi
Restart=always
RestartSec=5
ExecStart=/home/pi/.virtualenvs/py3cv4/bin/python -u /home/pi/camwatcher/camwatcher/camwatcher.py

[Install]
WantedBy=multi-user.target
