# datpump service unit file
# Mark K. Shumway, mark.shumway@swanriver.dev
# Defines datapump.py as a systemd service
# This file should be copied to /etc/systemd/system as root
#   e.g. sudo cp datapump.service /etc/systemd/system
# Use usual systemctl start, stop, status, restart, enable commands
#   e.g. sudo systemctl restart datapump

[Unit]
Description=DataPump Service
After=multi-user.target

[Service]
Type=idle
WorkingDirectory=/home/ops/camwatcher/datapump
User=ops
Restart=always
RestartSec=5
ExecStart=/home/ops/.opencv/bin/python -u /home/ops/camwatcher/datapump/datapump.py

[Install]
WantedBy=multi-user.target
