<html>
  <head>
    <title>Sentinelcam Event Review</title>
    <script>
       var eventurl = "{{ url_for('cam_event') }}";
       function change_date() {
         _date = document.controls.pickdate.value;
         location = eventurl + _date;
       }
       function change_event() {
         _date = document.controls.pickdate.value;
         _event = document.controls.pickevent.value;
         location = eventurl + _date + "/" + _event;
       }
    </script>
  </head>
  <body>
    <h1>Sentinelcam Video Review</h1>
    <table>
      <tr>
        <td><img src="{{ url_for('video_display', date=date, event=event, type=type) }}"></td>
        <td>
          <form name="controls">
            <p><strong>Select Date</strong></p>
            <select name="pickdate" onchange="change_date()">
              {% for d in datelist %}
                <option value="{{ d[0] }}"{% if d[0] is eq(date) %} selected{% endif %}>{{ d[1] }}</option>
              {% endfor %}
            </select>
            <p><strong>Select Event</strong></p>
            <select name="pickevent" size="15" onchange="change_event()">
              {% for e in eventlist %}
                <option value="{{ e[0]+'/'+e[1] }}"{% if e[0] is eq(event) and e[1] is eq(type) %} selected{% endif %}>{{ e[2] }}</option>
              {% endfor %}
            </select>
          </form>
        </td>
      </tr>
    </table>
    <ul>
      <li>Date {{ date }}</li>
      <li>Event {{ event }}</li>
      <li>Type {{ type }}</li>
      <li>Node {{ node }}</li>
      <li>View {{ view }}</li>
      <li>Start time {{ start }} UTC</li>
    </ul>
  </body>
</html>
