---
# SentinelCam Code Deployment Tasks
# Data-driven deployment using code_deployment.components from sentinelcam_standards.yaml
# Handles syncing source code with proper delegation strategy

- name: "Determine deployment source strategy"
  ansible.builtin.set_fact:
    is_primary_datasink: "{{ inventory_hostname == primary_datasink }}"
    deployment_source_node: "{{ primary_datasink }}"
    repo_user: "{{ hostvars[primary_datasink]['ansible_user'] }}"
    repo_ip: "{{ hostvars[primary_datasink]['ansible_host'] }}"
  tags:
    - code_deployment
    - deploy

- name: "Identify components to deploy for this node's groups"
  ansible.builtin.set_fact:
    components_to_deploy: >-
      {%- set components = [] -%}
      {%- for group_name in group_names -%}
        {%- if group_name in code_deployment.components -%}
          {%- for component in code_deployment.components[group_name] -%}
            {%- set _ = components.append(component) -%}
          {%- endfor -%}
        {%- endif -%}
      {%- endfor -%}
      {{ components }}
  tags:
    - code_deployment
    - deploy

- name: "Display deployment strategy"
  ansible.builtin.debug:
    msg:
      - "Target node: {{ inventory_hostname }}"
      - "Groups: {{ group_names | join(', ') }}"
      - "Is primary data sink: {{ is_primary_datasink }}"
      - "Source node: {{ deployment_source_node }}"
      - "Source path: {{ code_source_path }}"
      - "Components to deploy: {{ components_to_deploy | map(attribute='name') | join(', ') }}"
  tags:
    - code_deployment
    - deploy

# For PRIMARY data sink: deploy from local current_deployment directory
# Secondary datasinks will use remote deployment from primary
- name: "Deploy source code locally on primary data sink"
  ansible.builtin.synchronize:
    src: "{{ code_source_path }}/{{ item.source }}/"
    dest: "{{ item.dest }}/"
    rsync_opts:
      - "--delete"
      - "--exclude=*.pyc"
      - "--exclude=__pycache__"
      - "--exclude=*.log"
      - "--exclude=.git"
      - "--exclude=*.swp"
      - "--exclude=models/"
      - "--exclude=sockets/"
    owner: yes
    group: yes
  delegate_to: "{{ inventory_hostname }}"  # Run locally on the data sink
  loop: "{{ components_to_deploy }}"
  when:
    - is_primary_datasink
    - components_to_deploy | length > 0
  notify: "restart {{ item.name }}"
  tags:
    - code_deployment
    - deploy
    - local_deployment

# For all other target nodes (including secondary datasinks): deploy via pull from primary datasink
- name: "Deploy source code from primary data sink to other nodes"
  ansible.builtin.command:
    cmd: >
      rsync -avz --delete
      --exclude=*.pyc --exclude=__pycache__ --exclude=*.log --exclude=.git --exclude=*.swp
      --exclude=models/ --exclude=sockets/ --exclude=tasks/
      {{ primary_datasink }}:{{ sentinelcam_deployment_source }}/{{ item.source }}/
      {{ item.dest }}/
  become: false
  loop: "{{ components_to_deploy }}"
  when:
    - not is_primary_datasink
    - components_to_deploy | length > 0
  notify: "restart {{ item.name }}"
  tags:
    - code_deployment
    - deploy
    - remote_deployment

# Deploy additional directories (models, data, etc.) for primary datasink
- name: "Deploy additional directories locally on primary data sink"
  ansible.builtin.synchronize:
    src: "{{ code_source_path }}/{{ extra_dir.source }}/"
    dest: "{{ extra_dir.dest }}/"
    rsync_opts:
      - "--update"
      - "--exclude=*.pyc"
      - "--exclude=__pycache__"
      - "--exclude=.git"
    owner: yes
    group: yes
  delegate_to: "{{ inventory_hostname }}"
  loop: "{{ components_to_deploy | selectattr('additional_dirs', 'defined') | map(attribute='additional_dirs') | flatten }}"
  loop_control:
    loop_var: extra_dir
  when:
    - is_primary_datasink
    - components_to_deploy | selectattr('additional_dirs', 'defined') | list | length > 0
  tags:
    - code_deployment
    - deploy
    - additional_dirs
    - local_deployment

# Deploy additional directories (models, data, etc.) for non-repository nodes
- name: "Deploy additional directories from primary data sink to other nodes"
  ansible.builtin.command:
    cmd: >
      rsync -avz --update
      --exclude=*.pyc --exclude=__pycache__ --exclude=.git
      {{ primary_datasink }}:{{ code_source_path }}/{{ extra_dir.source }}/
      {{ extra_dir.dest }}/
  become: false
  loop: "{{ components_to_deploy | selectattr('additional_dirs', 'defined') | map(attribute='additional_dirs') | flatten }}"
  loop_control:
    loop_var: extra_dir
  when:
    - not is_primary_datasink
    - components_to_deploy | selectattr('additional_dirs', 'defined') | list | length > 0
  tags:
    - code_deployment
    - deploy
    - additional_dirs
    - remote_deployment
