# sentinel service unit file
# SentinelCam Ansible Template
# Defines sentinel.py as a systemd service

[Unit]
Description=Sentinel Service
After=multi-user.target

[Service]
Type=idle
WorkingDirectory={{ sentinel_install_path }}/sentinel
User={{ sentinelcam_user }}
Restart=always
RestartSec=5
ExecStart={{ sentinelcam_services.python_executable }} -u {{ sentinel_install_path }}/sentinel/sentinel.py

[Install]
WantedBy=multi-user.target
